<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"  
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">  
<mapper namespace="org.shen.dao.StudentDao">  
    <!--   
        起别名   
        <alias>  
            <typeAlias alias="" type="" />  
        </alias>  
    -->  
    <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->  
    <insert id="insert" parameterType="org.shen.entity.Student" useGeneratedKeys="true" keyProperty="id">  
    <![CDATA[ 
        INSERT INTO 
        student ( 
            name, 
            sex, 
            address 
        ) VALUES ( 
            #{name,jdbcType=VARCHAR}, 
            #{sex,jdbcType=VARCHAR}, 
            #{address,jdbcType=VARCHAR} 
        ) 
    ]]>  
        <!--   
            oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL   
            DB2: order="BEFORE"" values nextval for sequenceName  
        <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">  
            SELECT sequenceName.nextval AS ID FROM DUAL   
        </selectKey>  
        -->  
    </insert>  
      
    <update id="update" parameterType="org.shen.entity.Student">  
    <![CDATA[ 
        UPDATE student SET 
            name = #{name,jdbcType=VARCHAR}, 
            sex = #{sex,jdbcType=VARCHAR}, 
            address = #{address,jdbcType=VARCHAR} 
        WHERE  
            id = #{id,jdbcType=INTEGER}  
    ]]>  
    </update>  
  
    <delete id="delete" parameterType="org.shen.entity.Student">  
        delete from student where  
        id = #{id}  
    </delete>  
  
    <select id="selectById" resultType="org.shen.entity.Student" parameterType="Long">  
        select *  
            from student  
            where id = #{id}  
    </select>  
      
     <select id="selectAll" resultType="org.shen.entity.Student">  
        select * from student;  
    </select>  
      
    <delete id="deleteByPrimaryKey" parameterType="Integer">  
        delete from student where  
        id = #{id}  
    </delete>  
</mapper>  